<%-include("./partials/header",{title: "HireUp"}) %> 
<div class="mb-3 vh-100">
    <div class="mb-3">
        <h3>Get Referral to your Next Company</h3>
        <select class="custom-select" id="inputGroupSelect1" onchange="this.options[this.selectedIndex].value &&(window.location = `/login`)">    
        <option value="" selected>Choose Company</option>
        <% for(let company of companies){ %>
                <option value="<%= company %> "><%=company%> </option>  
        <% } %> 
        </select>
    </div>
    <div class="mb-3">
        <p class="lead"> We have made successful referrals to</p>  
        <div>
            <img class="img-fluid img-thumbnail" src="/images/google.jpg">
            <img class="img-fluid img-thumbnail" src="/images/microsoft.jpg">
            <img class="img-fluid img-thumbnail" src="/images/meta.jpg">
            <img class="img-fluid img-thumbnail" src="/images/amazon.jpg">
            <img class="img-fluid img-thumbnail" src="/images/twitter.jpg">
            <img class="img-fluid img-thumbnail" src="/images/uber.jpg">
            <img class="img-fluid img-thumbnail" src="/images/apple.jpg">
        </div>
    </div>
</div>      
<div class="container d-flex flex-column align-center vh-100">
    <p class="lead"> How it works?</p>  
    <ul class="description">
        <li class="current">Create and complete your HireUp profile.</li>
        <li class="current">Select companies you want to get referrals for.</li>
        <li class="current">Employees from those companies discover your profile and refer you.</li>
        <li class="current">Increase upvotes on your listed skills to stand out and get discovered faster.</li>
    </ul>
</div>    
<div class="container d-flex flex-column align-center vh-100">
    <div>
        <p class="lead"> How it works for Referrers?</p> 
        <select class="custom-select" id="inputGroupSelect2" onchange="this.options[this.selectedIndex].value &&(window.location = `/login`)">    
            <option value="" selected>Choose Company</option>
            <% for(let company of companies){ %>
                    <option value="<%= company %>"><%=company%> </option>  
            <% } %> 
        </select>
    </div>
    <div>
        <p class="lead"> Where do you work?</p>  
        <ul class="description">
            <li class="current">Discover talented candidates looking to join your company.</li>
            <li class="current">Refer them to your company.</li>
            <li class="current">Your company gets great talent and you get referral bonus. Win Win!!!</li>
        </ul>
    </div>
</div>    

<script>
    document.querySelector("body").setAttribute("class","d-flex flex-column vh-100 text-center");
</script>
<%-include("./partials/footer")%>
