<%-include('../partials/header',{title: "Candidates" })%>
    <link rel="stylesheet" href="/stylesheets/all.css">
    <p>
        <% if(currentUser.company){%>
            Following candidates are looking for referrals at your company. Unlock their profiles to access details and provide referral.
            <% }else{ %>
                Please enter your Current Company in your profile to be able to refer others.
                <% } %>
    </p>
    <div class="container">
        <div class="row">
            <% for(let user of users){ %>
                <% if(user.uid!==currentUser.uid){%>
                    <div class="col-sm-6 col-lg-3 mb-4">
                        <div class="candidate-list candidate-grid">
                            <div class="candidate-list-details">
                                <div class="candidate-list-info">
                                    <div class="candidate-list-title">
                                        <h5>
                                            <a href="/profile/<%= user.uid %>">
                                                <%= user.name%>
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="candidate-list-option">
                                        <ul class="list-unstyled">
                                            <li>
                                                <%= user.title%>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li>
                                                <%= user.company%>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li>
                                                <%= user.degree%>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li>
                                                <%= user.college%>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% for(let skill of user.skills){ %>
                                    <div class="candidate-list-favourite-time">
                                        <span class="candidate-list-time order-1">
                                            <%=skill.name%>
                                        </span>
                                        <a class="candidate-list-favourite order-2" href="/like/<%= user.uid%>/<%=skill.name %>?alreadyLiked=<%= skill.liked %>" style="text-decoration: none">
                                            <% if(!skill.liked){ %>
                                                <i class="far fa-thumbs-up"></i>
                                                <% }else{ %>
                                                    <i class="fas fa-thumbs-up"></i>
                                                    <% } %>
                                                        <%=skill.usersLikedLength %>
                                        </a>
                                    </div>
                                    <% } %>
                                        <div>
                                            <a href="/refer/<%=user.uid%>" class="btn btn-success">Refer!</a>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>
    </div>


    <%-include('../partials/footer')%>