<%-include('../partials/header',{title: "Profile" })%>
    <link href="/public/stylesheets/profile.css" rel="stylesheet">
    </link>
    <div class="container">
        <div class="main-body">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= user.name %>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= user.email %>
                            </div>
                        </div>

                        <% if(user.company){ %>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Current Company</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.company %>
                                </div>
                            </div>
                        <% } %>

                        <% if(user.title){ %>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Job Title</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.title %>
                                </div>
                            </div>
                        <% } %>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">School</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= user.college %>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Degree</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= user.degree%>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fab fa-linkedin"></i> LinkedIn</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a href="<%=user.linkedinURL%> "><span class="text-secondary">
                                    <%=user.linkedinURL%>
                                </span></a>
                            </div>
                        </div>
                        
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <% if(currentUser.uid===user.uid){ %>                       
                                    <a class="btn btn-info " href="/edit">Edit Profile</a>
                                <% } else if(!user.referredByUsers.includes(currentUser.uid)){ %>
                                    <a class="btn btn-info " href="/refer/<%= user.uid%>">Refer Them</a>                                
                                <% }else{ %>
                                    Already Referred!                         
                                <% } %>
                            </div>

                            <div class="col-sm-3">
                                <% if(user.resume){ %> 
                                    <a href="<%=user.resume %>" target="_blank">See Resume</a>
                                <% } %>
                            </div>
                            <div class="col-sm-3">
                                <% if(currentUser.uid === user.uid){ %> 
                                    <% if(user.resume){ %> 
                                        <a href="/upload">Edit Resume</a>
                                    <% }else{ %>
                                        <a href="/upload">Upload Resume</a>
                                    <% } %>  
                                <% } %> 
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6>
                                    <center>Skills</center>
                                </h6>
                                <hr class="hr-light">
                                <% for(let skill of user.skills){ %>
                                    <div class="row">
                                        <div class="col-9">
                                            <%=skill.name%>
                                        </div>
                                        <div class="col-3">
                                            <a href="/like/<%= user.uid%>/<%=skill.name %>?alreadyLiked=<%= skill.liked %>&red=<%=user.uid%>">
                                                <i class="fas fa-thumbs-up"></i>
                                                <%=skill.usersLikedLength %>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% if(currentUser.uid===user.uid){ %>
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6>
                                        <center>Referrals wanted</center>
                                    </h6>
                                    <hr class="hr-light">
                                    <% for(let dreamCompany of user.dreamCompanies){ %>
                                        <div>
                                            <%= dreamCompany%>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6>
                                        <center>Referrals received</center>
                                    </h6>
                                    <hr class="hr-light">
                                    <% for(let interestedUser of interestedUsers){ %>
                                        <div>
                                            <a href="/profile/<%= interestedUser.uid %>">
                                                <%=interestedUser.name%>
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6>
                                        <center>Referrals provided</center>
                                    </h6>
                                    <hr class="hr-light">
                                    <% for(let providedUser of referralsProvidedToUsers){ %>
                                        <div>
                                            <a href="/profile/<%= providedUser.uid %>">
                                                <%=providedUser.name%>
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%-include('../partials/footer')%>
